table,th,tr,td{
    margin: auto;
    border: 2px solid #000000;
    border-spacing: 5px;
    padding: 20px;
    border-collapse: collapse;
    font-size: 20px;
}

th{
    background-color: #007FFF;
    color: #fff;
}

tr:hover{
    background-color:#000000;
    color: #fff ;
    cursor: pointer;
}
body{
    background-image: url("https://static.toiimg.com/photo/72975551.cms");
    color: #fff;
    background-size: 100% 100%;
}

h1{
    text-align: center;
}

tr{
    background-color: black;
    color: black;
}

tr>td{
    border: 5px solid white;
}
